<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="post" action="/course/store">
        <div class="form-group">
            <label for="name">tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoID">Video khóa học</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>
        <div class="form-group">
            <label for="level">Trình độ khóa học</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <div class="form-group">
            <label for="image">Ảnh khóa học</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        {{!-- <div class="form-group">
            <label for="slug">Slugin</label>
            <input type="text" class="form-control" id="slug" name="slug">
        </div> --}}
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>